@mixin storybook-icon-button {
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-items: center;
    line-height: 1;
    background-color: var(--ktc-color-gray-100);
    color: pink;
    width: 30px;
    height: 30px;

    // &:hover {
    //     background-color: var(--ktc-color-gray-100);
    //   }
}

.storybook-icon-button-gg {
  @include storybook-icon-button;
}


.storybook-icon-button {
  display: inherit;
  align-items: center;
  justify-items: center;
}