@mixin focus-hover($color) {
  &:focus,
  &:hover {
    border-color: $color;
    + .ktc-textfield-label {
      color: $color;
    }
  }
}

.ktc-textfield {
  position: relative;
  display: inline-flex;
  flex-direction: column;

  &-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  &-label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: var(--ktc-color-gray-600);
    pointer-events: none;
    transition: 0.2s ease all;

    &--primary {
      color: var(--ktc-color-primary);
    }

    &--secondary {
      color: var(--ktc-color-secondary);
    }

    &--error {
      color: var(--ktc-color-error);
    }

    &--success {
      color: var(--ktc-color-success);
    }

    &--warning {
      color: var(--ktc-color-warning);
    }

    &-active {
      top: -10px;
      font-size: 12px;
    }
  }

  &-input {
    padding: 12px;
    font-size: var(--ktc-font-size-m);
    border-radius: var(--ktc-radius-m);
    outline: none;
    width: 100%;
    transition:
      border-color 0.2s ease,
      background-color 0.2s ease;
  }

  &-outlined {
    .ktc-textfield-input {
      border: 1px solid var(--ktc-color-gray-300);

      &--primary {
        @include focus-hover(var(--ktc-color-primary));
      }

      &--secondary {
        @include focus-hover(var(--ktc-color-secondary));
      }

      &--error {
        @include focus-hover(var(--ktc-color-error));
      }

      &--success {
        @include focus-hover(var(--ktc-color-success));
      }

      &--warning {
        @include focus-hover(var(--ktc-color-warning));
      }
    }
  }

  &-filled {
    .ktc-textfield-input {
      border: none;
      background-color: var(--ktc-color-gray-100);
      padding: 12px 10px;
      border-bottom: 1px solid var(--ktc-color-gray-300);

      &--primary {
        @include focus-hover(var(--ktc-color-primary));
      }

      &--secondary {
        @include focus-hover(var(--ktc-color-secondary));
      }

      &--error {
        @include focus-hover(var(--ktc-color-error));
      }

      &--success {
        @include focus-hover(var(--ktc-color-success));
      }

      &--warning {
        @include focus-hover(var(--ktc-color-warning));
      }

      &.ktc-textfield-error {
        border-bottom: 1px solid var(--ktc-color-error);
      }

      &:focus {
        background-color: var(--ktc-color-gray-200);
      }
    }
  }

  &-standard {
    .ktc-textfield-input {
      border: none;
      border-bottom: 1px solid var(--ktc-color-gray-300);
      border-radius: 0;
      padding: 12px 0;

      &--primary {
        @include focus-hover(var(--ktc-color-primary));
      }

      &--secondary {
        @include focus-hover(var(--ktc-color-secondary));
      }

      &--error {
        @include focus-hover(var(--ktc-color-error));
      }

      &--success {
        @include focus-hover(var(--ktc-color-success));
      }

      &--warning {
        @include focus-hover(var(--ktc-color-warning));
      }
    }
  }

  &-small .ktc-textfield-input {
    padding: 8px 10px;
    font-size: 14px;
  }

  &-medium .ktc-textfield-input {
    padding: 12px 10px;
    font-size: 16px;
  }

  &-large .ktc-textfield-input {
    padding: 16px 10px;
    font-size: 18px;
  }

  &-helperText {
    font-size: var(--ktc-font-size-2xs);
    color: var(--ktc-color-gray-600);
    margin-top: 4px;

    .ktc-textfield-input {
      &:focus,
      &:hover {
        border-color: var(--ktc-color-error);
      }

      border-color: var(--ktc-color-error);
    }
  }

  &-error {
    font-size: var(--ktc-font-size-2xs);
    color: var(--ktc-color-error);
    margin-top: 4px;

    .ktc-textfield-input {
      &:focus,
      &:hover {
        border-color: var(--ktc-color-error);
      }

      border-color: var(--ktc-color-error);
    }
  }
}
