

.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  /* border: 0; */
  /* border-radius: 3em; */
  border-radius: var(--ktc-radius-s);
  cursor: pointer;
  /* display: inline-block;
  line-height: 1; */
}

/* contained------------------------------------ */
.storybook-button-primary-contained {
  border: 0;
  color: var(--ktc-color-white);
  background-color: var(--ktc-color-primary);
  /* 애니메이션 추가 (선택 사항) */
  transition: background-color 0.3s ease; 
}

.storybook-button-primary-contained:hover {
  background-color: var(--ktc-color-blue-700);
}

.storybook-button-primary-contained:disabled {
  border: 0;
  color: var(--ktc-color-gray-500);
  background-color: var(--ktc-color-gray-200);
  cursor: default;
}

.storybook-button-secondary-contained {
  border: 0;
  color: var(--ktc-color-white);
  background-color: var(--ktc-color-secondary);
  /* 애니메이션 추가 (선택 사항) */
  transition: background-color 0.3s ease; 
}

.storybook-button-secondary-contained:hover {
  background-color: var(--ktc-color-teal-700);
}

.storybook-button-secondary-contained:disabled {
  border: 0;
  color: var(--ktc-color-gray-500);
  background-color: var(--ktc-color-gray-200);
  cursor: default;
}


/* outlined------------------------------------ */
.storybook-button-primary-outlined {
  border: 1px solid var(--ktc-color-primary);
  color: var(--ktc-color-primary);
  background-color: var(--ktc-color-white);
}

.storybook-button-primary-outlined:hover {
  /* hover 시 변경될 색상 */
  border: 1px solid var(--ktc-color-blue-700);
  color: var(--ktc-color-blue-700);
  background-color: #fcfcfc;
  transition: background-color 0.3s ease;
}

.storybook-button-primary-outlined:disabled {
  border: 1px solid var(--ktc-color-gray-200);
  color: var(--ktc-color-gray-500);
  background-color: var(--ktc-color-white);
  cursor: default;
}

.storybook-button-secondary-outlined {
  border: 1px solid var(--ktc-color-secondary);
  color: var(--ktc-color-secondary);
  background-color: var(--ktc-color-white);
}

.storybook-button-secondary-outlined:hover {
  border: 1px solid var(--ktc-color-teal-700);
  color: var(--ktc-color-teal-700);
  background-color: var(--ktc-color-white);
}

.storybook-button-secondary-outlined:disabled {
  border: 1px solid var(--ktc-color-gray-200);
  color: var(--ktc-color-gray-500);
  background-color: var(--ktc-color-white);
  cursor: default;
}


/* text------------------------------------ */
.storybook-button-primary-text {
  border: 0;
  color: var(--ktc-color-primary);
  background-color: var(--ktc-color-white);
}

.storybook-button-primary-text:hover {
  border: 0;
  background-color: var(--ktc-color-gray-50);
  transition: background-color 0.3s ease;
}

.storybook-button-primary-text:disabled {
  border: 0;
  color: var(--ktc-color-gray-500);
  background-color: var(--ktc-color-white);
  cursor: default;
}

.storybook-button-secondary-text {
  border: 0;
  color: var(--ktc-color-secondary);
  background-color: var(--ktc-color-white);
}

.storybook-button-secondary-text:hover {
  border: 0;
  background-color: var(--ktc-color-gray-50);
  transition: background-color 0.3s ease;
}

.storybook-button-secondary-text:disabled {
  border: 0;
  color: var(--ktc-color-gray-500);
  background-color: var(--ktc-color-white);
  cursor: default;
}

.storybook-button--small {
  font-size: 12px;
  padding: 8px 16px;
}

.storybook-button--medium {
  font-size: 14px;
  padding: 10px 18px;
}

.storybook-button--large {
  font-size: 16px;
  padding: 12px 20px;
}

