

.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  /* border: 0; */
  /* border-radius: 3em; */
  border-radius: var(--ktc-radius-s);
  cursor: pointer;
  /* display: inline-block;
  line-height: 1; */
}

.storybook-button--contained {
  border: 0;
  color: white;
  background-color: var(--ktc-color-primary);
  /* 애니메이션 추가 (선택 사항) */
  transition: background-color 0.3s ease; 
}

.storybook-button--contained:hover {
  background-color: var(--ktc-color-indigo-700);
}

.storybook-button--contained:disabled {
  border: 0;
  color: var(--ktc-color-gray-500);
  background-color: var(--ktc-color-gray-200);
  cursor: default;
}

.storybook-button--outlined {
  border: 1px solid var(--ktc-color-primary);
  color: var(--ktc-color-primary);
  background-color: white;
}

.storybook-button--outlined:hover {
  /* hover 시 변경될 색상 */
  border: 1px solid var(--ktc-color-indigo-700);
  color: var(--ktc-color-indigo-700);
  background-color: #f8f8f8;
  transition: background-color 0.3s ease;
}

.storybook-button--outlined:disabled {
  /* hover 시 변경될 색상 */
  border: 1px solid var(--ktc-color-gray-200);
  color: var(--ktc-color-gray-500);
  background-color: white;
  cursor: default;
}

.storybook-button--text {
  border: 0;
  color: var(--ktc-color-primary);
  background-color: white;
}

.storybook-button--text:hover {
  border: 0;
  background-color: var(--ktc-color-gray-50);
  transition: background-color 0.3s ease;
}

.storybook-button--text:disabled {
  border: 0;
  color: var(--ktc-color-gray-500);
  background-color: white;
  cursor: default;
}

.storybook-button--primary {
  color: white;
  background-color: var(--ktc-color-primary);
}

.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.storybook-button--small {
  font-size: 12px;
  padding: 8px 16px;
}

.storybook-button--medium {
  font-size: 14px;
  padding: 10px 18px;
}

.storybook-button--large {
  font-size: 16px;
  padding: 12px 20px;
}

